<div th:insert="header :: topo"></div>

  <a href="/especialidades">Especialidades</a>
  <br>
  <a href="/especialidades/novaespecialidade">Nova Especialidade</a>
  <br>
  <a href="/medicos">Medicos</a>
  <br>
  <a href="/medicos/novomedico">Novo Medico</a>
  <br>
  <a href="/pacientes">Pacientes</a>
  <br>
  <a href="/pacientes/novopaciente">Novo Paciente</a>
  <br>
  <a href="/consultas">Consultas</a>
  <br>
  <a href="/consultas/novaconsulta">Nova Consulta</a>

<div th:insert="footer :: rodape"></div>