<div th:insert="header :: topo"></div>
<div
        class="container p-5 rounded  border-4 border border-success position-absolute top-50 start-50 translate-middle">
        <form action="#" th:action="@{/pacientes/salvar}" th:object="${paciente}" method="post">
            <input type="hidden" th:field="*{id}" name="" id="">
            <div class="row">

                <div class="col-md-6">
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" name="nome" id="nome" th:field="*{nome}"
                        placeholder="Digite o nome do paciente">
                </div>
                <div class="col-md-6">
                    <label for="cpf">CPF:</label>
                    <input type="text" class="form-control" name="cpf" id="cpf" th:field="*{cpf}"
                        placeholder="Digite o CPF do paciente">
                </div>
            </div>
            <div class="m-2">

                <button
                    class="btn btn-outline-success rounded-2  btn-lg position-relative top-0 start-50 translate-middle-x">
                    <span>Salvar</span>
                </button>
            </div>
        </form>
    </div>

<div th:insert="footer :: rodape"></div> 